# Maven
target/
*.jar

# IntelliJ IDEA
.idea/
*.iml

# Uploaded files
uploads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

application-local.yml
application-local.yaml